**/*.svg
package.json
.umi
.umi-production
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
/coverage
/tests
/lib
/es
/dist
